    <style>body {
    padding: 0; /* Elimina l'espai extra al voltant del cos */
}

.container-fluid {
    max-width: 100%; /* Assegura que la navbar ocupa tota l'amplada */
}
    
    .navbar {
    padding-left: 0; /* Elimina el padding esquerra de la navbar */
}

.logo {
    margin-right: 20px; /* Ajustar el marge si vols separar el logo del text */
    margin-left: 0; /* Assegurar que no hi hagi marge a l'esquerra */
}

    

.navbar-brand {
    display: flex;
    align-items: center;
}


